table { 
	width: 300px; 
	border-collapse: collapse; 
	margin:0px 40px;
	transition: all 0.5s;
	}

tr:nth-of-type(odd) { 
	background: #eee; 
	}

th { 
	background: #3498db; 
	color: white; 
	font-weight: bold; 
	}

td, th { 
	padding: 5px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 14px;
	text-align: center;
	}

#id{
	min-width: 110px;
}

img.gif{
	max-width: 200px;
}